.listContainer {
    min-width: 70%;
    max-width: 70%;
    padding: 1em;
    margin: 1em 0 1em 0;
    background-color: white;
    border-radius: 5px;
    color: #3A4A4D;
    display: flex;
    flex-direction: column;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  
}

.listHeader{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(58, 74, 77, .25);
    font-size: 2em;
}

.listItem {
    font-size: 1.5em;
    padding: .1em;
    display: flex;
}

.itemName {
    text-decoration: underline solid rgba(58, 74, 77, .25);
}

.itemName:hover {
    cursor: pointer;
}

.listItem:hover {
    background-color: rgba(58, 74, 77, .25);
}

.workoutsList {
    border: 1px solid black;
    width: fit-content;
    padding: 1em;
    margin-bottom: 1em;
}

.exerciseList {
    border: 1px solid black;
    width: fit-content;
    padding: 1em;
    margin-bottom: 1em;
}

.addForm {
    display: flex;
    margin-top: .5em;
    font-size: 1.5em;
}

.addForm div {
    width: 25%;
}

.addInput {
    border: none;
    border-bottom: 1px solid #515657;
    max-width: 25%;
}

.fa-check {
    margin-top: .25em;
}