

.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
    text-align: center;
    background: #ADD4F4;
    margin-bottom: 1.5em;
    align-self: center;
}

.landingHeader {
    margin: .5em .5em .5em .5em;
    color: white;
}

.landingHeader h1{
    margin: 0;
}

.signup {
    background: #FF702B;
    padding: .5em .75em .5em .75em;
    border-radius: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 700;
    width: 5em
}

.signup:hover {
    cursor: pointer;
    background: rgb(255, 138, 43);
  }

  .lSection {
      width: 80%;
  }

  .lSection h3 {
      margin: 0 0 1em 0;
  }