.nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: white;
    height: 3em;
    left: 0;
    top: 0
}

.navHeader {
    position: fixed;
    font-size: 2em;
    left: .1em;
    margin: 0 0 0 0;
    padding: .15em 0 .15em 0;
    z-index: 1000;
    color: #3A4A4D;
}